
    <!-- Quiz Listing -->
    <div class="container mt-5">
      <h2 class="text-center">Choose a Quiz</h2>
      <div class="row">
          <div class="col-md-4">
              <div class="card mb-4">
                  <img src="../../../assets/english.jpg" class="card-img-top" alt="Quiz 1 Image"  style="width: 100%; height: 150px;">
                  <div class="card-body">
                      <h5 class="card-title">Quiz 1: English Vocabulary</h5>
                      <p class="card-text">Test your knowledge of English vocabulary.</p>
                      <a routerLink="/startquiz" class="btn btn-primary">Start Quiz</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4">
                  <img src="../../../assets/Frensh.jpg" class="card-img-top" alt="Quiz 2 Image"  style="width: 100%; height: 150px;">
                  <div class="card-body">
                      <h5 class="card-title">Quiz 2: French Phrases</h5>
                      <p class="card-text">Practice your knowledge of French phrases.</p>
                      <a routerLink="/startquiz" class="btn btn-primary">Start Quiz</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4">
                  <img src="../../../assets/Spanish-Language-Course-Level-2.jpg" class="card-img-top" alt="Quiz 3 Image"  style="width: 100%; height: 150px;">
                  <div class="card-body">
                      <h5 class="card-title">Quiz 3: Spanish Grammar</h5>
                      <p class="card-text">Explore the intricacies of Spanish grammar.</p>
                      <a routerLink="/startquiz" class="btn btn-primary">Start Quiz</a>
                  </div>
              </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4">
                  <img src="../../../assets/chinese.jpg" class="card-img-top" alt="Quiz 3 Image"  style="width: 100%; height: 150px;">
                  <div class="card-body">
                      <h5 class="card-title">Quiz 3: Chinese Phrases</h5>
                      <p class="card-text">Explore the intricacies of Chinese phrases.</p>
                      <a routerLink="/startquiz" class="btn btn-primary">Start Quiz</a>
                  </div>
              </div>
          </div>
      </div>
  </div>







